html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #222222;
}

.intro {
    height: 100%
}

.left {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* background-color: #222222; */
    /* height: 100%; */
    /* color: #222222; */
}

.right {
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    /* background-color: #222222; */
    height: 100%;
    /* color: #fff; */
}

.custom_type {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

#h1_title {
    margin-bottom: 40px;
    color: #ddd;
    font-size: 50px;
    font-weight: 900;
    line-height: 100%;
}

#p_info {
    color: #848d96;
    font-size: 18px;
    line-height: 140%;
    /* padding-bottom: 50px; */
    padding-bottom: 15%;
}

#align_picture {
    background-position: 50% 50%;
    background-size: cover;
    width: auto;
    height: 100%;
}

.margin_text {
    padding-right: 15%;
    padding-left: 15%;
}

#margin_text {
    padding-top: 10%;
}

#margin_bottom {
    margin-bottom: 10%;
}

#image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}


/* @media (max-width: 1200px) {
    .left {
        height: 50%
    }
    .right {
        height: 50%
    }
} */

.container {
    width: 100%;
    height: 100%;
}

#first_row {
    height: 100%;
}

.align_contact {
    padding-left: 0px;
    padding-right: 0px;
}

#align_copy {
    padding-left: 0px;
    padding-right: 0px;
}

.image {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    display: block;
    min-height: 100vh;
    min-width: 100%;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    background-image: url('images/oli_picture.jpeg');
    background-position: 50% 50%;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover;
}

@media screen and (max-width: 991px) {
    .right {
        height: auto;
    }
    .image {
        position: static;
        height: 420px;
        max-height: 50vh;
        min-height: auto;
        background-position: 50% 0%;
    }
}

@media screen and (max-width: 479px) {
    .right {
        height: auto;
    }
    .image {
        height: 240px;
        max-height: 30vh;
    }
}

a,
a:hover,
a:focus {
    color: #848d96;
    text-decoration: none;
}

.credit {
    color: #485462;
    font-size: 13px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

#rotation_div {
    padding-bottom: 30px;
}

#rotation_img {
    -webkit-animation: rotation 10s infinite linear;
    width: 70px;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

.flag {
    display: none;
    width: 40px;
}

#flags_div {
    position: absolute;
    top: 5px;
    right: 14px;
}